<!DOCTYPE html>
<html>
<head>
    <title>Bringing Climate Change Home</title>
</head>
<style>
    body {
        background-color: #a2eaba;
        font-family: monospace;
        text-align: center;
    }
</style>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1><center>Time to bring climate change home! Pick one of two options.</center></h1></br>
    <b1><center>The first option will let you submit questionnares regarding climate change,<br>
    and the second option will let you make a guess about how the temperature has
    changed<br> in your hometown.</center></b1>
    
    
    <div style="display: inline-block; margin: 30px; padding: 20px"><a href='quiz'><button style="font-family: monospace; background-color: #05c46b; color: aliceblue; border: none;border-radius: 4px;font-size: 18px; height:50px;width:200px;"><font size="+2">Take a quiz</font></button></a>&nbsp;
        <a href='guess'><button style="font-family: monospace; background-color: #05c46b; color: aliceblue; border: none;border-radius: 4px;font-size: 18px; height:50px;width:200px;"><font size="+2">Make a guess</font></button></a></div>

    <br><br>

    <!-- Create Form -->
	<form method="POST" action="/user_dashboard">

		<input type="submit" 
		value="Logout" 
		style="font-family: monospace; height:50px; width:500px; padding: 5px; background-color: #05c46b; color: aliceblue; border: none;border-radius: 4px;font-size: 18px">
	</form>
</body>
</html>