<!DOCTYPE html>
<html>
<head>
    <title>Bringing Climate Change Home</title>
</head>
<style>
    body {
        background-color: #a2eaba;
        font-family: monospace;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

</style>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1><center>How has climate change affected your home?</center></h1><br>
    <b1 align="justify">Climate change is the greatest challenge facing humanity.
    In particular, <b>rising temperatures</b> pose a number of real dangers:
    more droughts and more floods, irreversible losses to biodiversity,
    direct and indirect health threats, higher air pollution, and beyond.
    To develop mitigation strategies and adapt to the changing planet,
    we have to understand how we're changing the climate across the globe.
    <br><br><b>However, why don't we bring this home first?</b>
    Whether you realize it or not, the ongoing climate changes have been
    affecting your hometown, too. How has the temperature changed in your
    hometown? How is your hometown "doing" compared to other U.S. cities?
    Create an account or log in into an existing account to find out!</b1>
    
    <div style="display: inline-block; margin: 30px; padding: 20px"><a href='create_account'><button style="font-family: monospace; background-color: #05c46b; color: aliceblue; border: none;border-radius: 4px;font-size: 18px; height:50px;width:200px;"><font size="+2">Create account</font></button></a>&nbsp;
        <a href='login'><button style="font-family: monospace; background-color: #05c46b; color: aliceblue; border: none;border-radius: 4px;font-size: 18px; height:50px;width:200px;"><font size="+2">Login</font></button></a></div>
</body>
</html>
